.bayc__road {
  padding: 5vh 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bayc__road-feature_container {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  padding-right: 5vw;
}
.bayc__road h1 {
  font-family: Montserrat;
  font-weight: 900;
  padding-bottom: 2vh;
}
.bayc__road-feature-text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 3vh;
}
.bayc__road-bottom_outer-container {
  display: flex;
  flex-direction: row;
}
.bayc__road-content_container {
  width: 70vw;
  padding-right: 5vw;
}

.bayc__road-content_text-container {
  display: flex;
  flex-direction: column;
}
.bayc__road-content_text-section {
  display: flex;
  flex-direction: row;
  height: auto;
  border: 1px solid rgb(255, 133, 133);
  padding-left: 2vw;
  padding-bottom: 1vh;
}
.bayc__road-content_span-container {
  min-width: 60px;
  height: 60px;
  border: 1px solid #fff;
}
.bayc__road-yellow-box {
  background: #bfc500;
  width: 27vw;
  height: 27vw;
  position: absolute;
}
.bayc__road-shirt {
  width: 27vw;
  position: relative;
}
