.bayc__comm {
  padding: 5vh 8vw;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bayc__comm-feature_container {
  width: 60vw;
  padding-right: 7vw;
}
.bayc__comm-feature_title h1 {
  padding-bottom: 2vh;
}
.bayc__comm-feature-text p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1vh 0;
}
.bayc__comm-button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}
.bayc__comm-button {
  background: #bfc500;
  padding: 0.7rem 0;
  border-radius: 8px;
  margin: 5px 0;
}
@media screen and (max-width: 992px) {
  .bayc__comm {
    flex-direction: column;
    padding: 5vh 8vw;
  }
  .bayc__comm-feature_container {
    width: 100%;
    padding-right: 0;
  }
  .bayc__comm-feature-text p {
    padding-bottom: 2rem;
    font-size: 1.3rem;
  }
  .bayc__comm-button_container {
    flex-direction: row;
    width: 85vw;
  }
  .bayc__comm-button {
    width: 45vw;
    margin: 5px 5px;
    padding: 20px 0;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
