.bayc__cta {
  display: flex;
  padding: 5vh 8vw;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.bayc__cta-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 14vh;
  padding: 0 6vw;
  width: 100%;
  background: #bfc500;
  color: black;
}
.bayc__cta-card h3 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
.bayc__cta-card p {
  flex: 1;
  padding: 0 1rem;
}
.bayc__cta-card_button-wrap {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}
.bayc__cta-card_button {
  background-color: black;
  border-radius: 8px;
  color: #bfc500;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 1.2rem 15px;
  margin: auto auto;
  transition: 0.3s;
  width: 75%;
  font-weight: 600;
  /* max-width: 180px; */
}
@media screen and (max-width: 992px) {
  .bayc__cta {
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 5vh 8vw;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .bayc__cta-card {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding: 3vh 4vw;
  }
  .bayc__cta-card h3 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0 0 0.5rem 0;
  }
  .bayc__cta-card p {
    display: flex;
    flex: 2;
    padding: 0 4vw;
    line-height: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .bayc__cta-card_button-wrap {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
  }
  .bayc__cta-card_button {
    background-color: black;
    border-radius: 8px;
    color: #bfc500;
    border: none;
    font-weight: 700;
    font-size: 16px;
    padding: 1.2rem 15px;
    margin: auto auto;
    transition: 0.3s;
    width: 90%;
    font-weight: 600;
    /* max-width: 180px; */
  }
}

@media (max-width: 575.98px) {
  .bayc__cta {
    margin-top: 1rem;
    padding: 0 5vw;
  }
  .bayc__cta-card_button {
    font-size: 16px;
    padding: 1.2rem 20px;
    margin: auto auto;
    transition: 0.3s;
    width: 100%;
    font-weight: 600;
    /* max-width: 180px; */
  }
}
