.bayc__cta {
  display: flex;
  /* height: 20vh;
  padding: 5vh 8vw;
  width: 100%; */
  padding: 5vh 8vw;

  justify-content: center;
  align-items: center;
}
.bayc__cta-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 14vh;
  padding: 0 8vw;
  width: 100%;
  background: #bfc500;
}
.bayc__cta-card h3 {
  flex: 1;
}
.bayc__cta-card p {
  flex: 1;
  padding: 0 2vw;
}
.bayc__cta-card button {
  flex: 1;
}
.bayc__cta-card_button {
  background-color: black;
  border-radius: 8px;
  color: #bfc500;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 1.2rem 15px;
  margin: auto auto;
  transition: 0.3s;
  max-width: 180px;
}
