.bayc__team {
  /*to fit smart contract closer to body of component*/
  /* somehow I designed the whole section + missed it until I finished  */
  padding: 5vh 8vw 1rem 8vw;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bayc__team-feature_container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-right: 5vw;
}
.bayc__team-feature_title h1 {
  font-family: Montserrat;
  font-weight: 900;
  padding-bottom: 2vh;
}
.bayc__team-feature-text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.bayc__team-feature-text span {
color: #bfc500;
}
.bayc__team-img_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 30vw;
  justify-content: flex-end;
  padding-right: 0.5rem;
}
.bayc__team-img_container img {
  max-width: 11vw;
  padding: 0.28rem;
}
.bayc__team-address {
width: 85vw;
margin: 0 auto;
text-align: center;
padding-bottom: 2rem;
}
.bayc__team-address span {
color: #bfc500;
line-height: 2rem;
}
@media screen and (max-width: 992px) {
  .bayc__team {
    flex-direction: column;
    padding: 5vh 8vw;
    margin: 0 auto;
  }
  .bayc__team-feature_container {
    min-width: 80vw;
  }
  .bayc__team-img_container {
    flex-direction: column;
    padding-top: 2rem;
  }
  .bayc__team-feature_container {
    min-width: 100%;
    padding-right: 0;
  }
  .bayc__team-img_row1,
  .bayc__team-img_row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  .bayc__team-img_container img {
    min-width: 42vw;
    padding: 0.28rem;
    /* padding-bottom: 0; */
  }
  .bayc__team-feature-text {
    text-align: justify;
  }
  /* margin-bottom: -1em; */
  .bayc__team-feature-text:after {
    content: "";
    /* display: inline-block; */
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .bayc__team {
    /* margin: 1vh 8vh; */
    padding: 3vh 5vw;
  }
  .bayc__team-img_container img {
    min-width: 45vw;
    padding: 0.2rem;
  }
  .bayc__team-address {
  font-size: .6rem;
}
}
