.bayc__bath {
  /* margin: 1vh 8vh; */
  padding: 5vh 8vw;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bayc__bath-feature_container {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  padding-right: 5vw;
}
.bayc__bath h1 {
  font-family: Montserrat;
  font-weight: 900;
  padding-bottom: 2vh;
}
.bayc__specs-feature-text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.bayc__bath-img_container {
  margin: auto 0;
  max-width: 20vw;
}
.bayc__bath-img {
  width: 12vw;
}
@media screen and (max-width: 992px) {
  .bayc__bath {
    flex-direction: column;
    padding: 1vh 8vw;
    margin: 0 auto;
  }
  .bayc__bath-feature_container {
    min-width: 85vw;
  }
  .bayc__bath-img_container {
    flex-direction: column;
    padding-top: 4vh;
  }
  .bayc__bath-feature_container {
    min-width: 100%;
    padding-right: 0;
  }
  .bayc__bath-img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    height: auto;
  }
  .bayc__bath-img {
    width: 15vw;
    margin: 0 auto;
  }
  .bayc__bath-feature-text {
    text-align: justify;
  }
  /* margin-bottom: -1em; */
  .bayc__bath-feature-text:after {
    content: "";
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .bayc__bath {
    /* margin: 1vh 8vh; */
    padding: 3vh 5vw;
  }
  .bayc__bath-img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
  }
  .bayc__bath-img {
    margin: 0 5vw;
    height: 35vh;
    width: auto;
  }
}
