@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300;1,500;1,600;1,900&display=swap");

.bayc__distribution {
  display: flex;
  padding: 0.5vh 8vw;
  height: 18vh;
}
.bayc__distribution-container {
  display: flex;
  flex-direction: row;
}
.bayc__distribution-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 60vw;
  padding-right: 5vw;
}
.bayc__distribution-top h2 {
  padding-bottom: 0.4rem;
}
.bayc__distribution-bottom_right-wrap {
  display: flex;
}

.bayc__distribution-bottom_right {
  align-self: flex-end;
  font-size: 13px;
}
.bayc__distribution-bottom_left {
  line-height: 1.5rem;
}

@media screen and (max-width: 992px) {
  .bayc__distribution {
    height: 16vh;
    flex-direction: column;
  }
  .bayc__distribution-container {
    flex-direction: column;
  }
  .bayc__distribution-main {
    width: 100%;
    padding-right: 0;
  }
  .bayc__distribution-bottom {
    text-align: justify;
  }
  .bayc__distribution-bottom:after {
    content: "";
    width: 100%;
  }
  .bayc__distribution-bottom_left {
    padding: 2vh 0;
  }
  .bayc__distribution-bottom_right-wrap {
    text-align: justify;
  }
  .bayc__distribution-bottom_right-wrap::after {
    content: "";
  }
}
@media (max-width: 575.98px) {
  .bayc__distribution {
    padding: 3vh 5vw;
    height: auto;
  }
}
