.bayc__navbar {
  display: flex;
  flex-direction: row;
  height: 12vh;
  border-bottom: 1px solid #fff;
  align-items: center;
  padding: 0 8vw;
  margin: 0 auto;
  width: 100%;
}
.bayc__navbar-logo_container img {
  height: 50px;
}
.bayc__navbar-outer-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.bayc__navbar-links_container {
  display: flex;
  align-items: center;
  height: 100%;
}
.bayc__navbar-links_container a {
  font-size: 9px;
  text-transform: capitalize;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 1.2px;
  padding: 0 0.8rem;
}
.bayc__navbar-icons {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 0.2rem;
  padding-left: 2rem;
}
.bayc__navbar-icons a {
  padding-right: 15px;
}
@media screen and (max-width: 991.98px) {
  .bayc__navbar-icons {
    display: none;
  }
  .bayc__navbar-outer-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .bayc__navbar-links_container {
    padding-left: 1rem;
  }
  .bayc__navbar-links_container a {
    font-size: 8.8px;
    padding: 0 0.4rem;
    font-weight: 500;
  }
}
