@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300;1,500;1,600;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  background: black;
  color: white;
  max-width: 100%;
  font-family: Montserrat;
}
a {
  color: unset;
  text-decoration: none;
}
.acc-color {
  color: #bfc500;
}
h2 {
  color: #bfc500;
}
